    /* Global styles */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Manuale", serif;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    background: #0d1c2b;
    color: #add8e6;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.gif);
    background-size: cover;
    background-position: center; 
}

.text-box-container {
    position: relative;
    display: inline-block; /* Ensures the container only takes up the space it needs */
}

.meme-image {
    position: absolute;
    width: 80px; /* Small width */
    height: auto; /* Maintain aspect ratio */
    left: 60%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    z-index: 2; /* Ensure it's above the text box */
    transition: width 0.5s, height 0.5s; /* Smooth transition */
}

.text-box-container:hover .meme-image {
    width: 100px; /* Resized width on hover */
    height: auto; /* Maintain aspect ratio */
    z-index: 3; /* Ensure it's above the text box and any other content */
}

.text-box{
    color: white;
}

.text-box {
    width: 90%;
    color: #254764;
    position: relative;
    top: calc(50% + 50px); /* Move the text box down by 50px from the center */
    left: 50%;
    bottom: -50px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

}


.text-box h1 {
    font-size: 62px;
    color: #fff;
    text-shadow: 0 0 5px #254764, 0 0 10px #254764, 0 0 20px #ddd971, 0 0 40px #0d1c2b, 0 0 80px #0d1c2b, 0 0 90px #0d1c2b, 0 0 100px #0d1c2b;
}

.text-box h1, .text-box p{
    z-index: -1;
}

.text-box p{
    display: inline-block;
    margin: 0 auto;
    border: 0 auto;
    font-size: 17px;
    color: #254764;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 5px #ADD8E6, 0 0 10px #254764, 0 0 20px #ddd971, 0 0 40px #0d1c2b, 0 0 80px #0d1c2b, 0 0 90px #0d1c2b, 0 0 100px #0d1c2b;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    color: #ADD8E6; 
}

.logo-container {
    position: relative;
    z-index: 1;
    right: 20px;
    bottom: -20px;
}

.logo {
    width: 300px;
}

.back-logo {
    position: absolute;
    top: -30px;
    left: 70px;
    width: calc(70% + 10x);
    height: calc(64% + 10px);
    z-index: -1;
    transition: width 0.5s, height 0.5s;
}

    .logo {
        width: 250px;
    }

    .back-logo {
        width: 100px;
    }
}

@media (min-width: 701px) {
    .logo {
        width: 300px;
    }

    .back-logo {
        width: calc(70% + 10px);
    }
}
.nav-links {
    flex: 1;
    position: relative;
    text-align: right;
    top: 10px;
    left: -20px;    
}

.nav-links ul {
    padding: 0;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul li a{
    color: #ADD8E6;
    text-decoration: none;
    font-size: 25px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ddd971;
    display: block;
    margin: auto;
    transition: width 0.5s;
}

.nav-links ul li:hover::after {
    width: 100px;
}


.container{
    text-align: center;
    font-size: 20px;
}

/* ----------about---------- */

#about{
    padding: 80px 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 70%;
    height: auto;
    border-radius: 15px;
}

.about-col-1 img {
    width: 70%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10); /* Add a shadow */
}


.about-col-2{
    flex-basis: 60%;
    color: #ADD8E6;
    display: inline-block;
    margin: 0 auto;
    border: 3px auto;
    border-color: #ADD8E6;
    font-size: 17px;
    color: #254764;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    color: #ADD8E6; 
    
}

.sub-title{
    font-size: 50px;
    font-weight: 400;
    color: #ADD8E6;
    text-shadow: 0 0 5px #254764, 0 0 10px #254764, 0 0 20px #ddd971, 0 0 40px #0d1c2b, 0 0 80px #0d1c2b, 0 0 90px #0d1c2b, 0 0 100px #0d1c2b;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ddd971;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: width 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    text-align: left;
    font-size: 15px;
}

.tab-contents ul li span{
    color: #FFFFF0;
    font-size: 25px;
    text-shadow: 0 0 5px #254764, 0 0 10px #254764, 0 0 20px #ddd971, 0 0 40px #0d1c2b, 0 0 80px #0d1c2b, 0 0 90px #0d1c2b, 0 0 100px #0d1c2b;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}




/*---------Others----------*/

#others {
    padding: 30px 0;
}

.others-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-color: #add8e6;
}

.others-list div {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.others-list div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image fill the entire div */
    height: 100%; /* Make the image fill the entire div */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s; /* Fade in transition */
}

.others-list div:hover img {
    opacity: 0.5; /* Show the image on hover */
}

.others-list div p{
    font-size: 15px;
    margin: auto;
}

.others-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}

.others-list div h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
}

.others-list div a{
    text-decoration: none;
    color: #1f1a32;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 30px; /* Add a semicolon here */
    display: inline-block;
}

.others-list div:hover {
    background: #244868;
    transform: translateY(-5px);
}

/* Apply the neon glow effect on hover */
.others-list div:hover {
    box-shadow: 0 0 5px #FFFAFA, 0 0 10px #FFFAFA, 0 0 15px #FFFAFA, 0 0 20px #FFFAFA, 0 0 35px #0d1c2b, 0 0 40px #0d1c2b, 0 0 50px #0d1c2b, 0 0 75px #0d1c2b;
}






/*------------Conatact------------*/

.contact-left {
    flex-basis: 35%;
    margin-top: 50px;
}

.contact-right {
    flex-basis: 65%; /* Adjusted to 65% to give more space to the contact form */
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ddd971;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ddd971;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #254764;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ddd971;
    transform: translateY(-5px);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #0d1c2b;
    border: 1px solid #ddd971;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 13px;
    background-color: #254764;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid rgba(221, 217, 113, 1);
    background: #ddd971;
    transition: 1s;
}

.contact-right form {
    width: 80%;
    margin-top: 50px;
    margin-buttom: 50px;
}

/* Adjust the width of input and textarea elements */
form input,
form textarea {
    width: 100%; /* Change to 100% to fill the entire width of the contact form */
    border: 0;
    outline: none;
    background: #254764;
    padding: 10px;
    margin: 15px 0;
    color: #ddd971;
    font-size: 18px;
    border-radius: 6px;
    border-bottom: 1px solid #ddd971;
}


nav .fa-solid,
nav .fa-regular {
    display: none;
}

@media only screen and (max-width: 500px){
    #header{
        background-image: url(images/background.gif);
    }
    .text-box{
        margin-top: 100%;
        font-size: 16;
    }
    .text-box h1{
        font-size: 30px;
    }
    nav .fa-solid,
    nav .fa-regular {
    display: none;
    font-size: 24px;
}
    nav ul{
        background: #0d1c2b;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
    }
}















